body {
    padding: 2px;
    width: auto;
    background-image: url('img/bg8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 6px;
}


/* body h2 {
color: rgb(254, 254, 254);
text-align: center;
width: 57%;
margin: 364px;
font-size: xxx-large;
} */

.container {
    border: 3px solid rgb(248, 248, 248);
    margin: 0px;
    padding: 20px;
    width: auto;
    background-color: rgb(244, 238, 238);
}

li {
    margin: 10px;
    list-style: none;
    padding: 8px 8px;
    display: inline;
    font-size: larger;
    font-weight: bolder;
    position: relative;
    left: 550px;
    cursor: pointer;
}

li:hover {
    color: rgb(110, 8, 61);
    text-decoration: underline;
    background-color: rgb(214, 211, 211);
}

img {
    width: 60px;
    margin: 6px;
    position: fixed;
    top: 2px;
}

.left {
    float: left;
    margin: 6px;
}

.left h6 {
    position: fixed;
    top: 49px;
    left: 23px;
    margin: 13px;
    width: 70px;
    font-size: 12px;
    background-color: #ffffff;
}

.search {
    float: right;
    margin: 0px;
    padding: 2px;
    border-radius: 6px;
    background-color: rgb(164, 235, 243);
    cursor: pointer;
}

.regpage {
    /* border: 3px solid cyan; */
    width: 554px;
    padding: 50px;
    margin: 156px;
    color: #56d0d2;
    font-size: x-large;
    font-weight: bolder;
}

.btn input {
    width: 103px;
    margin: 1px;
    top: 3px;
    padding: 13px;
    background-color: #8efdff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 9px;
    color: #000000;
}

.btn input:hover {
    text-decoration: underline;
    color: gray;
}

.form {
    /* border: 1px  rgb(97, 222, 247); */
    margin: 101px 472px;
    padding: 39px 25px;
    width: 401px;
    height: 452px;
    color: #f9feff;
    font-size: x-large;
    font-weight: bolder;
}

.vars {
    border: 4px solid white;
    width: 550px;
    height: 559px;
    margin: 3px 0px;
    padding: 5px 19px;
}

.vars input {
    margin: 18px 57px;
    padding: 7px 4px;
    color: #050707;
    text-align: -webkit-left;
    font-size: inherit;
    font-weight: 100;
    border-radius: 12px;
    font-style: normal;
    background-color: #b3f1f3;
}

.vars input:hover {
    background: rgb(184, 255, 251);
}

.contain {
    margin: 0px;
    padding: 20px;
    width: auto;
}

.abc {
    float: left;
    margin: 6px;
}

.abc img {
    width: 67px;
    margin: 10px;
    position: fixed;
    top: 0px;
}

.abc h6 {
    position: fixed;
    top: 40px;
    left: 21px;
    margin: 40px 20px;
    width: 73px;
    font-size: 12px;
    color: rgb(6, 43, 48);
    background-color: #88f6f6;
}